.DTAWT {
font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 3%;
  font-size: 108px;
  color: #002D62;
  /* text-shadow: 0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15); */

}
.mainpage {
	position: relative;
}
.score-display {
	position: absolute;
	top: 45%;
	left: 0%;
	z-index: 2;
}

.scheduleDiv {
	display: flex;
	justify-content: center;
}

.game {
	margin: 10px;
}

.bar-zero {
	background-color: #002D62;
	color: #002D62;
	height: 75px;
}
.bar-one {
	background-color: #eda400;
	color: #eda400;
	height: 75px;
}
.bar-two {
	background-color: #f43c1e;
	color: #f43c1e;
	height: 75px;
}
.bar-three {
	background-color: #EB6E1F;
	color: #EB6E1F;
	height: 75px;
}
.bar-four {
	background-color: #F4871E;
	color: #F4871E;
	height: 75px;
}
.bar-five {
	background-color: #eda400;
	color: #eda400;
	height: 75px;
}
.bar-six {
	background-color: #f43c1e;
	color: #f43c1e;
	height: 75px;
}
.bar-seven {
	background-color: #EB6E1F;
	color: #EB6E1F;
	height: 75px;
}
.bar-eight {
	background-color: #F4871E;
	color: #F4871E;
	height: 75px;
}
.bar-nine {
	background-color: #eda400;;
	color: #eda400;
	height: 75px;
}