.desktopDTAWT {
font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 108px;
  color: #002D62;
  margin: 15px;
}

.tabletDTAWT {
font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 80px;
  color: #002D62;
  margin: 15px;
}

.mobileDTAWT {
font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
  color: #002D62;
  margin: 15px;
}

.mainpage {
	position: relative;
}

.star-outline {
	position: absolute;
	z-index: 2;
}
.score-display {
	position: absolute;
	top: 45%;
	left: 0%;
	z-index: 3;
}

.scheduleDiv {
	display: flex;
	justify-content: center;
}

.game {
	margin: 10px;
}

.bar-zero {
	background-color: #002D62;
	color: #002D62;
	height: 75px;
}
.bar-one {
	background-color: #eda400;
	color: #eda400;
	height: 75px;
}
.bar-two {
	background-color: #f43c1e;
	color: #f43c1e;
	height: 75px;
}
.bar-three {
	background-color: #EB6E1F;
	color: #EB6E1F;
	height: 75px;
}
.bar-four {
	background-color: #F4871E;
	color: #F4871E;
	height: 75px;
}
.bar-five {
	background-color: #eda400;
	color: #eda400;
	height: 75px;
}
.bar-six {
	background-color: #f43c1e;
	color: #f43c1e;
	height: 75px;
}
.bar-seven {
	background-color: #EB6E1F;
	color: #EB6E1F;
	height: 75px;
}
.bar-eight {
	background-color: #F4871E;
	color: #F4871E;
	height: 75px;
}
.bar-nine {
	background-color: #eda400;
	color: #eda400;
	height: 75px;
}
