.TodaysScore {
  font-size: 40px;
  color: #002D62;
  text-align: center;
  margin-top: 10%;
}

.answer {
  color: #002D62;
}
.winText {
  padding-top: 20px;
  font-size: 50px;
}
.awayTeamText {
  padding-top: 35px;
}
.homeTeamText {
  margin-top: 0px;
  padding-bottom: 15px;
}

.ScoresList {
  color:#002D62;
  list-style: none;
  text-align: center;
  display: grid;
}

.resultText {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #002D62;
  font-size: 40px;
}

.noGame {
  font-size: 40px;
  color: #002D62;
  font-family: 'Permanent Marker', cursive;
}
