.TodaysScore {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10%;
}

.answer {
  color: white;
}

/* .ScoresList {
  color:white;
  list-style: none;
  text-align: center;
  display: grid;
} */

.resultText {
text-align: center;
}

.noGame {
  font-size: 40px;
  color: white;
}

